@import "../../scss/variables";
@import "fab.module";
@import "scripts.module";
@import "title.module";
@import "actions.module";

.fullWidth {
  width: 100%;
}

.fullHeight {
  @include full-height;
}

.group {
  display: inline;
  font-size: 1rem;
  align-self: center;
}

.inline {
  display: inline;
}
