@import "../../scss/variables";
@import "fab.module";
@import "scripts.module";
@import "title.module";
@import "actions.module";

.fullWidth {
  width: 100%;
}

.group {
  font-size: 1rem;
  align-self: center;
}
