.item {
  position: relative;
}

.scriptName {
  color: $color-secondary-800;
}

.scriptPath {
  margin-top: 8px;
  font-size: 0.8rem;
  font-style: italic;
  @include font-default;
}

.scriptStatus {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;

  &.idle {
    color: $color-secondary-500;
  }

  &.running {
    color: $color-primary-800;
  }

  &.failed {
    color: $color-danger-300;
  }

  &.success {
    color: $color-success;
  }
}

.scriptHover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: $color-primary-500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 4px;
  color: $color-secondary-200;
}
