{
  "plugins": [
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ],
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-env"
  ]
}
