{
  "endOfLine": "lf",
  "printWidth": 80,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "semi": false,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "avoid"
}
