@import '~@angular/material/theming';
@import "papyrus-compiler-app.colors";

// Compute font config
@include mat-core($fontConfig);

// Theme Config
@import "papyrus-compiler-app.palette";

// Theme Init
@include angular-material-theme($theme);

.light-theme {
  @include angular-material-theme($altTheme);
}


// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}
