<app-container *ngIf="initialized">
  <form class="app-preferences-form">
    <mat-form-field floatLabel="always" class="app-preferences-form-output-field">
      <div class="app-preferences-form-output-icon">
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
      <input [(ngModel)]="gamePathFolder" matInput placeholder="Skyrim installation folder" name="gamePathFolder" (click)="onClickGamePathFolderInput($event)" class="app-preferences-form-output-input">
    </mat-form-field>

    <mat-form-field floatLabel="always" class="app-preferences-form-import-field">
      <div class="app-preferences-form-import-icon">
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
      <input [(ngModel)]="importsFolder" matInput placeholder="Imports folder" name="importsFolder" (click)="onClickImportFolderInput($event)" class="app-preferences-form-import-input">
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-select placeholder="Flag" [(value)]="selectedFlag" (valueChange)="onChangeFlag($event)">
        <mat-option *ngFor="let flag of availableFlags" [value]="flag">
          {{flag}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field floatLabel="always" class="app-preferences-form-output-field">
      <div class="app-preferences-form-output-icon">
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
      <input [(ngModel)]="outputFolder" matInput placeholder="Output folder" name="outputFolder" (click)="onClickOutputFolderInput($event)" class="app-preferences-form-output-input">
    </mat-form-field>

    <mat-form-field>
      <mat-chip-list #scriptsInput>
        <mat-chip *ngFor="let script of alwaysCompileScripts" [selectable]="false"
                  [removable]="true" (removed)="removeScript(script)">
          {{script}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input class="app-input-scripts" id="app-input-scripts" placeholder="Always compile those scripts"
               [matChipInputFor]="scriptsInput"
               [matChipInputSeparatorKeyCodes]="separatesKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addScript($event)">
      </mat-chip-list>
    </mat-form-field>
  </form>
</app-container>
