/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import "~roboto-fontface/css/roboto-condensed/roboto-condensed-fontface.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto-Medium, "Helvetica Neue", sans-serif; }
* { box-sizing: border-box; }

.app-container h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: Roboto-Condensed, sans-serif;
}

.app-toolbar {
  -webkit-app-region: drag;

  &.mat-toolbar-multiple-rows {
    min-height: 48px;

    .mat-toolbar-row, .mat-toolbar-single-row {
      height: 48px;
    }
  }
}

.app-toolbar-title {
  padding-right: 16px;
  transform: translateY(-2px);
}

button[mat-button] {
  -webkit-app-region: no-drag;
}

.app-compile-form, .app-preferences-form {
  display: flex;
  flex-direction: column;

  mat-form-field {
    width: 100%;
  }
}

.app-input-import-path {
  cursor: pointer;
}

.app-input-import-path-label {
  display: flex;
}

.app-input-import-path-label-icon {
  margin-left: auto;
}

.app-preferences-form {
  &-import-input, &-output-input {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
}

.app-preferences-form-import-field, .app-preferences-form-output-field {
  position: relative;
  cursor: pointer;

  .app-preferences-form-import-icon, .app-preferences-form-output-icon {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    mat-icon {
      height: 18px;
      width: 18px;
      color: rgba(0,0,0,.54);
    }
  }
}

.app-output-scripts-list mat-icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.app-container .app-goto-output-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.app-output-logs-popup {
  position: fixed;
  left: 0;
  top: 32px;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  overflow: auto;

  &.app-output-logs-popup-visible {
    opacity: 1;
    visibility: visible;
  }

  .app-output-logs-popup-close {
    position: fixed;
    right: 20px;
    top: 58px;
    color: black;
    z-index: 2;
    cursor: pointer;
  }
}

.app-output-logs-button {
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 0;
}

.app-output-logs-popup-content {
  font-size: 14px;
  white-space: pre-wrap;

  .app-output-logs-popup-content-text {
    margin-bottom: 75px !important;
  }
}

main .app-output-logs-popup-clear {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 2;
}

main .app-output-retry {

}

.app-logs-info {
  color: #1a2934;
}

.app-logs-error {
  color: #a22d2a;
  font-weight: bold;
}
