@import "../../scss/variables";

.app-open-log-file {
}

.app-open-log-file-button-activate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-open-log-file .app-open-log-file-button-activate svg {
  width: 16px;
}
