@import "~src/assets/papyrus-compiler-app.colors";

.app-loading-main {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  top: 32px;
  background: $dark-background;
  font-family: "Sedgwick Ave", Roboto, sans-serif;
  user-select: none;
}
