@import "../../scss/variables";

.app-task-loading {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1500;
}

.app-task-loading-spin {
  font-size: 2rem;
}
