@import "../../scss/variables";

.app-groups-actions {
  margin-left: auto;
  display: flex;
  padding: 0.25rem;
  align-items: center;
}

.app-groups-action {
  cursor: pointer;
}

.app-groups-list-group-item-name {
  color: $color-secondary-800;
}
