span.logItem {
  font-family: 'Roboto Mono', monospace;
}

.logsContainer {
  padding: 1rem;
  background: #2d323b;
  margin-top: 0.5em;
  display: block;
  width: 100%;
  border-radius: 5px;

  span {
    word-break: break-word;
  }
}

.logTitle {
  user-select: all;
}

.pre {
  margin-bottom: 0;
}
