@import "../../scss/variables";

.app-compilation {
  @include full-height;
  @include padding-content;
}

.app-compilation-content {

}

.app-list-group-item-script-name {
  color: $color-secondary-800;
}

.app-list-group-item-script-path {
  font-size: 0.8rem;
  font-style: italic;
  @include font-oxygen;
}

.app-list-group-item-script-status {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;

  &-idle {
    color: $color-secondary-500;
  }

  &-running {
    color: $color-primary-800;
  }

  &-failed {
    color: $color-danger-300;
  }

  &-success {
    color: $color-success;
  }
}

.app-compilation-is-dragging-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-loading;
  color: $color-loading;
  font-weight: bold;

  @include font-harmonia-sans;
  @include text-extra-large;
}

.app-compilation-actions {
  margin-left: auto;
  display: flex;
  padding: 0.25rem;
  align-items: center;
}

.app-compilation-action {
  font-size: 2rem;
  color: $color-button;

  &.app-compilation-action-disable {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
}
