@import "../../../../assets/papyrus-compiler-app.palette";

mat-toolbar {
  padding: 0;
}

.app-toolbar-main-row {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  height: 32px;
  font-size: 12px;
  padding: 0;
  background: mat-color($theme-primary, darker);
}

.app-toolbar-brand {
  padding-left: 0.4rem;
  display: flex;
  align-items: center;
}

.app-toolbar-brand-icon {
  -webkit-app-region: drag;
  height: 18px;
  width: 18px;
  margin-right: 0.4rem;
}

.app-toolbar-actions {
  margin-left: auto;
}

.app-toolbar-action {
  height: 32px;
  width: 46px;
  min-width: 46px;
  border-radius: 0;
  box-sizing: border-box;
  font-family: 'Segoe MDL2 Assets', sans-serif;
  font-size: 10px;
  user-select: none;
  -webkit-app-region: no-drag;
  opacity: 0.8;
  cursor: default;

  &:hover {
    opacity: 1;
    background: rgba(#fff, 0.2)
  }

  &#control-close:hover {
    background: #E81123;
  }
}

.app-toolbar-second-row .app-toolbar-right-section {
  margin-left: auto;
}
