.folder {
  font-size: 0.9rem;
}

.page {
  padding-bottom: 15px;
}

.alert {
  margin-top: 10px;
  font-size: 0.85rem;
}

.folders {
  padding-left: 2rem;
}

.listHeader {
  display: flex;
}

.listHeaderRightText {
  margin-left: auto;
}

div.gap {
  margin-top: 10px;
}
