@import "../../scss/variables";

.app-compilation-logs-title {
  position: static;
  background: unset;
}

.app-compilation-logs-button-activate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-compilation-logs-logs-section {
  * {
    user-select: text;
  }
}
