.app-settings {
  padding-bottom: 15px;
}

.app-settings-content {

}

.app-settings-mo2-sources-folders-update {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
}

.app-settings-label {
  font-size: 1rem;
}

.app-settings-folder {
  font-size: 0.9rem;
}

.app-settings-folders-list {
  padding-left: 2rem;
}
