.app-settings {
  padding-bottom: 15px;
}

.app-settings-content {

}

button.app-settings-mo2-sources-folders-update {
  margin-left: 0.5rem;
}

.app-settings-label {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.app-settings-folder {
  font-size: 0.9rem;
}

.app-settings-folders-list {
  padding-left: 2rem;
}

.app-settings-alert {
  margin-top: 10px;
  font-size: 0.85rem;
}
