@import "../../scss/variables";

.app-sidebar {
  display: flex;
  flex-direction: column;
  width: 4rem;
  height: 100%;
  border-right: 2px solid darken($background-sidebar, 3);
  background: $background-sidebar;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}

.app-sidebar-links {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-sidebar-logo {
  text-align: center;
  margin-top: 0.25rem;
  padding: 0.5rem 0;

  img {
    max-width: 75%;
  }
}
