.app-group-add-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
}

.app-groups mat-form-field {
  width: 100%;
}

.app-groups h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.app-groups-group-inactive {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 1;
}

.app-groups-add-group-indicator {
  position: fixed;
  bottom: 4rem;
  right: 1.55rem;
  z-index: 1;
}

mat-card + mat-card {
  margin-top: 1rem;
}
