@import "~bootstrap/scss/bootstrap";
@import "~typeface-neuton/index.css";
@import "~typeface-capriola/index.css";
@import "~typeface-oxygen/index.css";

@import "scss/variables";
@import "scss/transitions";

html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  @include font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}

h1 {
  font-family: Neuton, Capriola, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  outline: none;
}

#root {
  height: 100%;
}
