@import "scss/variables";
@import "scss/transitions";
@import "scss/scrollbar";
@import "scss/utils";

$primary: $color-primary;
$secondary: $color-secondary;
$success: $color-success;
$danger: $color-danger;

@import "~bootstrap/scss/bootstrap";

@import "assets/fonts/proxima-nova/proxima-nova.css";
@import "assets/fonts/harmonia-sans/harmonia-sans.css";
@import "~typeface-neuton/index.css";
@import "~typeface-capriola/index.css";
@import "~typeface-oxygen/index.css";

html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  @include font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  color: $color-secondary-500;
}

h1 {
  font-family: 'Proxima Nova', Neuton, Capriola, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  outline: none;
}

#root {
  height: 100%;
}

* {
  user-select: none;
}
