$background-content: #F5F6FA;
$background-loading: #b54834;
$background-sidebar: #fafbff;
$background-sidebar-link-active: #ff7049;

$color-loading: white;
$color-sidebar-link: black;
$color-sidebar-link-active: #313131;
