.folder {
  font-size: 0.9rem;
}

.page {
  padding-bottom: 15px;
}

.alert {
  margin-top: 10px;
  font-size: 0.85rem;
}

.label {
  margin-top: 0.5rem;
  font-size: 1rem;
}

button.updateFolders {
  margin-left: 0.5rem;
}

.folders {
  padding-left: 2rem;
}

.version {
  position: fixed;
  right: 16px;
  top: 16px;
  z-index: 51;
}
