<app-container *ngIf="initialized">
  <div *ngIf="checkPreferencesMessage">
    <p [innerHTML]="checkPreferencesMessage"></p>

    <button type="button" mat-raised-button color="primary" [routerLink]="['/', 'preferences']">Go to preferences</button>
  </div>

  <form *ngIf="!checkPreferencesMessage" method="post" class="app-compile-form">
    <mat-form-field>
      <mat-chip-list #scriptsInput>
        <mat-chip *ngFor="let script of scripts" [selectable]="false"
                  [removable]="true" (removed)="remove(script)">
          {{script}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input class="app-input-scripts" id="app-input-scripts" placeholder="Scripts"
               [matChipInputFor]="scriptsInput"
               [matChipInputSeparatorKeyCodes]="separatesKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>

    <button [routerLink]="['/', 'output']" mat-raised-button color="primary" [matBadge]="scripts.length || 0" matBadgeColor="accent" matBadgePosition="above before" [disabled]="scripts.length === 0">Compile</button>
  </form>
</app-container>
